<h2>Sign Up</h2>

<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    {{#if errors}}
    <h5 class="text-danger">{{errors}}</h5>
    {{/if}}

    <form {{action 'register' on='submit'}}>
      <label for="email">Login</label>
      {{input id='email' placeholder='Enter Login' value=email}}
      <label for="password">Password</label>
      {{input id='password' placeholder='Enter Password' type='password' value=password}}
      <label for="password_confirmation">Password Confirmation</label>
      {{input id='password_confirmation' placeholder='Enter Password confirmation' type='password' value=password_confirmation}}
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
